* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Arial;
  src: url('assets/fonts/ArialRegular.ttf') format('truetype'),
  url('assets/fonts/ArialRegular.woff') format('woff');
}

body {
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.accordion .accordion-item {
  margin-top: 10px;
  border: #FFFFFF;
  max-width: 855px;
}

.accordion .ui-accordion-header {
  background: linear-gradient(0deg, #076BFF 0%, #007BFF 100%);
  cursor: pointer;
  color: #FFFFFF;
}

.accordion .ui-accordion-content {
  padding: 20px;
  background: #FFF;
  border: #FFF;
}

@import 'bootstrap/scss/bootstrap';
